<%- include('components/header', {title: "Orders"}); %>
<%- include('components/nav', {orders: "active", isLoggedIn: isLoggedIn}); %>
<div class="uk-container uk-container-xsmall" style="padding-top: 40px;">
  <% if ( sessionFlash && sessionFlash.message) { %>
  <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= sessionFlash.message %></p>
  </div>
  <% } %>
  <div class="uk-child-width-expand@s uk-text-center uk-grid-small" uk-grid>
  <% orders.forEach(function(order){ %>
    <div class="uk-card uk-card-default uk-card-body">
      <h1>Lesson from <%= order.title %></h1>
      <h3> Status: <%= order.state %><br/> <!--a href="/refreshOrder/?paymentId=<%= order.pid%>">Refresh</a-->
        Total: € <%= order.total %></h3>
      <small> Transaction number: <%= order.pid %><br/>timestamp: <%= order.start %></small>
    </div>
  <% }); %>
  </div>
</div>
<%- include ('components/footer') %>