<%- include('components/header', {title: "Profile"}); %>
<%- include('components/nav', {}); %>
<div class="uk-container uk-container-xsmall" style="padding-top: 40px;">
  <% if ( sessionFlash && sessionFlash.message) { %>
  <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= sessionFlash.message %></p>
  </div>
  <% } %>
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid
    style="margin-bottom: 40px;">
    <div class="uk-card-media-left uk-cover-container">
      <img src="/<%= user.img ? user.img : 'assets/avatar-placeholder.gif' %>" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title"><%= user.name %></h3>
          <div class="uk-card-badge uk-label">New!</div>
        <p><%= user.desc %></p>
      </div>
    </div>
  </div>
  <dl class="uk-description-list uk-description-list-divider">
    <dt>Price</dt>
    <dd>€ <%= user.price %></dd>
    <!--dt>Description term</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</dd>
    <dt>Description term</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</dd-->
  </dl>
  <div>
    <h2 class="uk-modal-title">Available dates</h2>
      <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Start date</th>
                <th>Duration (mins)</th>
                <th>Subject</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
      <% lessons.forEach(function(lesson){ %>
          <tr>
            <td><%= utils.formatDate(lesson.start) %></td>
            <td><%= lesson.duration %></td>
            <td><%= lesson.subject %></td>
            <td><a href="<%= user._id %>/apply/<%= lesson._id %>"><button class="uk-button uk-button-primary uk-button-small">Apply</button></a></td>
          </tr>
      <% }); %>
      <% if ( lessons.length === 0) { %>
        <h2>Such emptiness.</h2>
      <% } %>
        </tbody>
      </table>
  </div>
</div>
<%- include ('components/footer') %>