<%- include('components/header', {title: "Profile"}); %>
<%- include('components/nav', {}); %>
<div class="uk-container uk-container-xsmall" style="padding-top: 40px;">
  <% if ( sessionFlash && sessionFlash.message) { %>
  <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= sessionFlash.message %></p>
  </div>
  <% } %>
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid
    style="margin-bottom: 40px;">
    <div class="uk-card-media-left uk-cover-container">
      <img src="/<%= user.img ? user.img : 'assets/avatar-placeholder.gif' %>" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title"><%= user.name %></h3>
        <a href="#modal">
          <div class="uk-card-badge uk-label">Apply here!</div>
        </a>
        <p><%= user.desc %></p>
      </div>
    </div>
  </div>
  <dl class="uk-description-list uk-description-list-divider">
    <dt>Price</dt>
    <dd>€ <%= user.price %></dd>
    <!--dt>Description term</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</dd>
    <dt>Description term</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</dd-->
  </dl>
  <div id="modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Headline</h2>
      <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Start date</th>
                <th>Duration (mins)</th>
                <th>Subject</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
      <% lessons.forEach(function(lesson){ %>
          <tr>
            <td><%= utils.formatDate(lesson.start) %></td>
            <td><%= lesson.duration %></td>
            <td><%= lesson.subject %></td>
            <td><a href="apply/<%= lesson._id %>"><button class="uk-button uk-button-primary uk-button-small">Apply</button></a></td>
          </tr>
      <% }); %>
        </tbody>
      </table>
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      </p>
    </div>
  </div>
</div>
<%- include ('components/footer') %>